.Titulo {
    background-color: beige;
    font-size: 25px;
    color: darkblue;
}

button {
    border-radius: 5px;
    border-color: darkblue;
    background-color: darkblue;
    border-style: none;
    padding: 5px;
    color: white;
    box-shadow: 2px 2px 2px lightslategrey;
}
button:active {
    box-shadow: none !important;
    margint-top: 2px;
    margin-left: 2px;
}